// Import the typography styles.
//
// MDC Typography
//
@import "@material/typography/mdc-typography";
@import "smui-theme";
@import "@material/theme/mdc-theme";

.custom.mdc-text-field--outlined .mdc-text-field__input {
  padding-top: 15px;
  padding-bottom: 0;
}
.custom.mdc-select.mdc-select--outlined .mdc-floating-label {
  top: 8px;
}

.custom.mdc-select--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
  transform: translateY(-85%) scale(.75);
}

.custom.mdc-select--outlined .mdc-select__native-control {
  padding: 4px 52px 8px 16px
}

.custom.mdc-select.mdc-select--outlined .mdc-select__dropdown-icon {
  top: 5px;
  right: 2px;
}
